
#Postgres
PG_DB_TOKEN_ADMIN=123456
PG_DB_PORT=5432

#Flask
FLASK_PORT=8080
FLASK_MSS_BASE_URL=http://powertwin-solver-flask
CI_COMMIT_BRANCH=
POWERTWIN_LOG_DIR=/path/to/log/dir

#MSS
MSS_PORT=8000
MSS_SLACK_VERIFICATION_TOKEN=123456
MSS_SLACK_SIGNING_SECRET=123456
MSS_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/X/Y/Z
MSS_SLACK_CHANNEL=solver


