# Postgres
PG_DB_TOKEN_ADMIN=changeme
PG_DB_PORT=5432

# Flask
FLASK_PORT=1337

# Simulation
REPORTING_FREQUENCY=Timestep  # Timestep, Hourly, Daily, Monthly, Runperiod

# MSS (optional - only needed for docker-compose-mss.yml)
# FLASK_MSS_BASE_URL=http://powertwin-solver-flask
# CI_COMMIT_BRANCH=
# POWERTWIN_LOG_DIR=/path/to/log/dir
# MSS_PORT=8000
# MSS_SLACK_VERIFICATION_TOKEN=changeme
# MSS_SLACK_SIGNING_SECRET=changeme
# MSS_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/X/Y/Z
# MSS_SLACK_CHANNEL=solver
