FLASK_PORT=8080

PG_DB_PORT=5432
PG_DB_TOKEN_ADMIN=123456

MSS_PORT=8000
MSS_FLASK_BASE_URL=http://powertwin-solver-flask
MSS_SLACK_VERIFICATION_TOKEN=123456
MSS_SLACK_SIGNING_SECRET=123456
MSS_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/X/Y/Z
MSS_SLACK_CHANNEL=powertwin

POWERTWIN_LOG_DIR=/path/to/log/dir