<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerTwin Solver API Tester - Dev</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>PowerTwin Solver API Tester - Testing</h1>

        <h2>Generate Feature File</h2>
        <form id="full-simulation-form">
            <div id="configuration-settings">
                <label for="weekday_start_time">Weekday Start Time:</label>
                <input type="time" id="weekday_start_time" name="weekday_start_time" value="08:00"><br>

                <label for="weekday_duration">Weekday Duration (HH:MM):</label>
                <input type="text" id="weekday_duration" name="weekday_duration" value="10:00"><br>

                <label for="weekend_start_time">Weekend Start Time:</label>
                <input type="time" id="weekend_start_time" name="weekend_start_time" value="10:00"><br>

                <label for="weekend_duration">Weekend Duration (HH:MM):</label>
                <input type="text" id="weekend_duration" name="weekend_duration" value="8:00"><br>

                <label for="system_type">System Type:</label>
                <select class="system_type" name="system_type">
                    <!-- Options will be populated by JavaScript -->
                </select><br>

                <label for="heating_system_fuel_type">Heating System Fuel Type:</label>
                <input type="text" id="heating_system_fuel_type" name="heating_system_fuel_type" value="electricity"><br>

                <label for="wall_material">Wall Material:</label>
                <input type="text" id="wall_material" name="constructions.wall.material" value="Super Insulated Wall"><br>

                <label for="wall_r_value">Wall R-Value:</label>
                <input type="number" id="wall_r_value" name="constructions.wall.r_value" value="10.0"><br>

                <label for="roof_material">Roof Material:</label>
                <input type="text" id="roof_material" name="constructions.roof.material" value="Super Insulated Roof"><br>

                <label for="roof_r_value">Roof R-Value:</label>
                <input type="number" id="roof_r_value" name="constructions.roof.r_value" value="15.0"><br>
            </div>

            <label for="startsim_num_cores">Number of Cores:</label>
            <input type="number" id="startsim_num_cores" name="startsim_num_cores" value="1"><br>

            <button type="button" onclick="generateFeatureFiles()">Generate Feature Files</button>
        </form>

        <h2>Clean Report</h2>
        <form id="clean-report-form">
            <label for="unclean_report_csv">Upload Unclean Report CSV File:</label>
            <input type="file" id="unclean_report_csv" name="unclean_report_csv"><br>
            <label for="metadata_csv_file_2">Upload Metadata CSV File:</label>
            <input type="file" id="metadata_csv_file_2" name="metadata_csv_file_2"><br>
            <label for="asset_id_3">Asset ID:</label>
            <input type="text" id="asset_id_3" name="asset_id_3"><br>
        </form>

        <h2>Runtime Analysis</h2>
        <form id="runtime-analysis-form">
            <label for="asset_id">Asset ID:</label>
            <input type="number" id="asset_id" name="asset_id"><br>
            <button type="button" onclick="getRuntimeAnalysis()">Get Runtime Analysis</button>
        </form>
    </div>

    <script src="static/index.js"></script>
</body>
</html>